:root {
	@media (prefers-color-scheme: dark) {
	--main-bg-color: #B68106;
	--main-text-color: #FFFFFF;
	}
	@media (prefers-color-scheme: light) {
	--main-bg-color: #FFC72C;
	--main-text-color: #000000;
	}
}

a:link {
	color: #418FDE;
}
a:active {
	color: #DC4405;
}
a:visited {
	color: #418FDE;
}

html, body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	margin: 0 auto;
	text-align: center;
	font-family: Archivo, Arial, sans-serif;
}

img.rkword {
	min-width: 230px;
	width: 27%;
	height: 27%;
}


@media (prefers-color-scheme: dark) {
	img.rkword {
	filter: invert(100%);
	}
	img.cc {
	filter: invert(100%);
	}
}

@media (prefers-color-scheme: light) {
	img.rkword {
	filter: invert(0%);
	}
	img.cc {
	filter: invert(0%);
	}
}


img {
	image-rendering: pixelated;
}
img.cc {
	width: 32px;
	height: 32px;
}

div.header {
	text-align: center;
}

div.content {
	text-align: left;
}