.andtherest {
max-width: 800px;
place-items: center;
}

.videobox {
border: 2px solid black;
padding: 2px;
background-color: white;
color: black;
float: left;
width: calc(64%/16);
height: calc(36%/9);
}

.video {
object-fit: cover;
width: 100%;
height: 100%;
}

.videoselection {
float: right;
border: 2px solid black;
padding: 2px;
background-color: white;
color: black;
overflow-y: scroll;
width: 30%;
height: 10%;
}
