/* disregard what i said earlier in that html comment. i'm very lazy to remove it. unfortunate, i know. */

html, body {
font-family: Arial, Helvetica Regular, Helvetica, sans-serif;
background-color: #000;
color: #FFF;
}
a, a:link, a:visited, a:hover {
color: #FFF;
}
a:active {
color: #FF0000;
}
#header {
overflow:hidden; 
display: block; 
position:-webkit-sticky; 
position:sticky; 
top:0; 
width: 100%;
background-color: #000;
background: #000;
color: #FFF;
padding: 5px;
}
.logo {
float: left;
}
.navlink {
float: right;
}
