/* disregard what i said earlier in that html comment. i'm very lazy to remove it. unfortunate, i know. */

@font-face {
font-family: Inter;
src: url("/fonts/INTER.ttf");
}
@font-face {
font-family: Inter;
src: url("/fonts/SPOTESK.ttf");
}

html, body {
font-family: Inter, Arial, Helvetica Regular, Helvetica, sans-serif;
background-color: #000;
color: #FFF;
}
a, a:link, a:visited, a:hover {
color: #FFF;
}
a:active {
color: #FF0000;
}
#header {
overflow:hidden; 
display: block; 
position: sticky;
position: --webkit-sticky;
top:0; 
width: 100%;
background: #000;
color: #FFF;
padding: 5px;
font-weight: bold;
text-align: center;
font-family: Space Grotesk, Courier New, monospace;
}
.logo {
float: left;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
width: 186px;
height: 20px;
background: url("/images/rubberocket-logos/wordmark_white.png");
background-size: 186px 20px;
display: block;
}
.navlink {
float: right;
display: block;
}
